*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    box-sizing: border-box;
    position: relative;
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
}
main {
    position: relative;
}
img {
    max-width: 100%;
}
a {
    color: inherit;
    text-decoration: none;
}
input, button, textarea, select {
    appearance: none;
    border: none;
    outline: none;
}

.wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1050px;
}

section:not(.banner) {
    position: relative;
    z-index: 1;
}